.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--background-base);
    width: 52px;
    height: 52px;
    border-radius: 50%;
    color: var(--background-base);
    border: none;
}

.Button:hover{
    background-color: var(--background-highlight);
    transform: scale(1.02);
    transition: tranform 0.3s ease;
}

.Button:focus{
    outline: none;
}

.Button:hover .Icon{

}

.Button:active{
    background-color: var(--background-press);
    transform: scale(1);

}



.Icon{
    line-height: 1;
}