@import "tailwindcss";
:root{

    --background-tinted-base: hsla(0,0%,100%,.1);
    --background-tinted-highlight: hsla(0,0%,100%,.14);
    --background-tinted-press: hsla(0,0%,100%,.21);
    --text-base: #fff;
    --text-subdued: #b3b3b3;
    --text-bright-accent: #1ed760;
    --text-negative: #f3727f;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #4cb3ff;
    --essential-base: #fff;
    --essential-subdued: #7c7c7c;
    --essential-bright-accent: #1ed760;
    --essential-negative: #ed2c3f;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #4cb3ff;
    --decorative-base: #fff;
    --decorative-subdued: #292929;

    --background-base: #1ed760;
    --background-highlight: #3be477;
    --background-press: #1abc54;
    --background-elevated-base: #3be477;
    --background-elevated-highlight: #3be477;
    --background-elevated-press: #1abc54;
    --background-tinted-base: #1ed760;
    --background-tinted-highlight: #1ed760;
    --background-tinted-press: #1ed760;
    --background-dark-base: #121212;
    --background-dark-paper: #999999;
    --text-main: #fff;
    --text-highlight: #fff;

    --text-link: #fff;
    --text-link-hover: #fff;

}

@font-face {
    font-family: 'helvetica';
    src: url('public/font/helvetica_neue_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('public/font/helvetica_neue_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
    src: url('public/font/helvetica_neue_bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

.body{
    font-family: 'helvetica', sans-serif;
}


